<style>
 
   .main-section {
  font-family: inherit;
  background-color: black;
  color: white;
   }
  
.about-text-header {
   font-size: 32px;
  font-family: 'Graphik Wide Bold';
  text-align:left;
    display: flex;
   font-weight:700;
    }

.about-text-section {
  max-width: 1340px;
  margin: 0 auto;
  padding-top: 100px;
    }

    .about_span {
      font-size: 14PX;
      text-align: center;
      margin: 0 auto;
      font-family: wide;
    }

    .text-column-left {
        width:48%;
        float:left;
        padding-top: 0;
    }

    .text-column-right {
        width:48%;
        float:right;
        padding-top: 0;
    }



    @media only screen and (max-width: 767px){
        .text-column-left, .text-column-right  {
        float:none;
        width:100%;
        margin-right:0;
        padding: 20px!important;
        }
   .about-text-header {
          font-size: 32px !important;
          font-weight: bold;
          
        }
    }
</style>


<section class="main-section">
  

<div class="about-text-section">
  
  
  <h1 class="about-text-header header_newlines">
    {{ section.settings.custom_text_header}}
  </h1>

  
  {{ header_newlines | newline_to_br }}


<p class="about_span">{{ section.settings.custom_text_span}}</p> 
  
  
  <div class="text-column-left">
    <h2> {{ section.settings.custom_text_title-left }} </h2>
    <div>{{ section.settings.custom_text_body-left }}</div>
  </div>

  
 
    <div class="text-column-right">
      <h2> {{ section.settings.custom_text_title-right }} </h2>
    <div>{{ section.settings.custom_text_body-right }}</div>
    </div>
  
  <br style="clear:both;" />
 

  
</div>


</section>




{% schema %}
  {
    "name": "about text column",
    "settings": [
{
        "id": "custom_text_header",
        "type": "text",
        "label": "main heading",
        "default": "Title"
      },
{
        "id": "custom_text_span",
        "type": "text",
        "label": "span",
        "default": "span"
      },
      {
        "id": "custom_text_title-left",
        "type": "text",
        "label": "Text box heading",
        "default": "Title"
      },
      {
        "id": "custom_text_body-left",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
   {
        "id": "custom_text_title-right",
        "type": "text",
        "label": "Text box heading",
        "default": "Title"
      },
      {
        "id": "custom_text_body-right",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      }
    ],
 "presets": [
      {
      "name": "about text column",
      "category": "ADVANCED LAYOUT"
      }
      ]
  }
{% endschema %}
